body {
  font-family: "Poppins", sans-serif !important;
}
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

html.dark body {
  background-color: #0a0a0a;
  color: #ffffff;
}

body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
